<h2>Enterprise Connect - User Authorization</h2>

<div class="well">
  <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>


  <%= form_tag enterprise_connect_path, class: 'form-horizontal' do |f| %>
      <fieldset>
        <div class="form-group">
          <label class="control-label col-lg-2">User Email</label>
          <div class="col-lg-10">
            <%= text_field_tag :email, @user.email, { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2">Scopes</label>
          <div class="col-lg-10">
            <%= text_field_tag :scope, @scope, { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10">
            <%= submit_tag "Create", { class: 'btn btn-success btn-primary' } %>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>
